- 
	collect = [
		{
			img: "collect-1",
			title: "Сладкие подарки",
			link: "collect-gifts.html",
			classes: "item-prize--candies-prize item-prize--big",
		},
		{
			img: "collect-2",
			title: "Орехи и сухофрукты",
			link: "collect-nutsfruits.html",
			classes: "item-prize--nuts-fruits item-prize--big",
		},
	]
div.collect
	.collect__container 
		.collect__body.prize-inner
			each item in collect
				a(href=item.link).collect__item.item-prize(class=item.classes)
					.item-prize__image 
						img(src=`img/collect/${item.img}.png`, alt=item.title)
					.item-prize__content
						.item-prize__text.icon-arrow-link= item.title