-
   chocolate = [
      {  
         img: "1",
         companyName: "Акконд",
         title: "Шококроко 24 г"
      },
      {
         img: "2",
         companyName: "Эссен",
         title: "Молочная плитка CHO KO-TE «малина-манго» 43 гр"
      },
      {  
         img: "3",
         companyName: "КДВ / Славянка / Сладко",
         title: "Батончик шоколадный <br> 42/47/50гр"
      },
   ],
   candies = [
      {  
         img: "1",
         companyName: "Победа",
         title: "Мишки в лесу <br> вафельная"
      },
      {
         img: "2",
         companyName: "Славянка",
         title: "Детский сувенир <br> «Фигурный шоколад»"
      },
      {  
         img: "3",
         companyName: "Эссен",
         title: "Шокотэ бабблгам"
      },
      {  
         img: "4",
         companyName: "Красный октябрь",
         title: "Семейка сов"
      },
      {  
         img: "5",
         companyName: "РотФронт",
         title: "Босс кокос"
      },
      {  
         img: "6",
         companyName: "Сладкий орешек",
         title: "Марсианка <br> в ассортименте"
      },
      {  
         img: "7",
         companyName: "Эссен",
         title: "Шокотэ со взрывной <br> карамелью"
      },
      {  
         img: "8",
         companyName: "Сириус",
         title: "Зоо-Зоо"
      },
      {  
         img: "9",
         companyName: "КДВ групп",
         title: "ELLE"
      },
      {  
         img: "10",
         companyName: "КДВ групп",
         title: "Джумка мини"
      },
      {  
         img: "11",
         companyName: "Славянка",
         title: "Бананоман"
      },
      {  
         img: "12",
         companyName: "КДВ групп",
         title: "Яшкинская Картошка"
      },
      {  
         img: "13",
         companyName: "Акконд",
         title: "Снопик/Нюанс"
      },
      {  
         img: "14",
         companyName: "КДВ групп/Акконд",
         title: "Крокант/Слимо грильяж"
      },
      {  
         img: "15",
         companyName: "Сладкий орешек",
         title: "«NO CommenT»"
      },
      {  
         img: "16",
         companyName: "РотФронт",
         title: "Козиначки"
      },
      {  
         img: "17",
         companyName: "КДВ групп",
         title: "Чио-рио"
      },
      {  
         img: "18",
         companyName: "КДВ групп",
         title: "Шантарель"
      },
      {  
         img: "19",
         companyName: "КДВ групп",
         title: "Белая черемуха"
      },
      {  
         img: "20",
         companyName: "КДВ групп",
         title: "Джетс с печеньем"
      },
      {  
         img: "21",
         companyName: "КДВ групп",
         title: "Бонфетти"
      },
      {  
         img: "22",
         companyName: "КДВ групп",
         title: "Ярче"
      },
      {  
         img: "23",
         companyName: "КДВ групп",
         title: "Итальяна"
      },
      {  
         img: "24",
         companyName: "КДВ групп",
         title: "Коровка <br> загорская"
      },
      {  
         img: "25",
         companyName: "КДВ групп",
         title: "Супер мини"
      },
      {  
         img: "26",
         companyName: "Акконд",
         title: "Летний день"
      },
      {  
         img: "27",
         companyName: "Атаг",
         title: "Забегай на чай"
      },
      {  
         img: "28",
         companyName: "Акконд",
         title: "Шоконатка/ Туесок"
      },
      {  
         img: "29",
         companyName: "Славянка",
         title: "Эли"
      },
      {  
         img: "30",
         companyName: "КДВ групп",
         title: "Батончик Евгеша/Харитоша"
      },
      {  
         img: "30",
         companyName: "КДВ групп",
         title: "Мексикана/Версаль"
      },
   ],
   marmelade = [
      {  
         img: "1",
         companyName: "Славянка",
         title: "Фрутландия мармелад"
      },
      {
         img: "2",
         companyName: "Рот Фронт",
         title: "Очумелый шмель"
      },
      {  
         img: "3",
         companyName: "КДВ групп/Лукоморье",
         title: "Желейные мармелад в шок."
      },
      {  
         img: "4",
         companyName: "КДВ групп",
         title: "Золотая стрекоза"
      },
      {  
         img: "5",
         companyName: "КДВ групп",
         title: "Несси"
      },
   ],
   chew = [
      {  
         img: "1",
         companyName: "КДВ групп",
         title: "Workky"
      },
      {
         img: "2",
         companyName: "КДВ групп",
         title: "Фрутстори"
      },
      {  
         img: "3",
         companyName: "КДВ групп",
         title: "Нильс"
      },
      {  
         img: "4",
         companyName: "КДВ групп",
         title: "Нота Бум"
      },
      {  
         img: "5",
         companyName: "Турция",
         title: "Пластинки TUTI"
      },
      {  
         img: "5",
         companyName: "Турция",
         title: "“MY FRUIT”"
      },
   ],
   packing = [
      {  
         img: "1",
         companyName: "КДВ групп",
         title: "Карамель на палочке 12 г "
      },
      {
         img: "2",
         companyName: "Акконд",
         title: "Бисквит«Сливкус» / <br> «Ломтишка» 23 г"
      },
      {  
         img: "3",
         companyName: "Балаковский ОАО",
         title: "Вафельная палочка 40 г"
      },
      {  
         img: "4",
         companyName: "Сириус",
         title: "Пирамидка 18 г"
      },
   ]
.compare-data.data-compare
   .data-compare__box
      .data-compare__label Общие
      .data-compare__common.common-compare
         ul.common-compare__list
            li.common-compare__item 
               .common-compare__title Размер (см)
               .common-compare__value 19*23,5*11
               .common-compare__value 11*5,5*18
            li.common-compare__item 
               .common-compare__title Категория
               .common-compare__value
                  .parameters__buttons
                     button(type="button").parameters__button.current Классик
                     button(type="button").parameters__button Премиум
                     button(type="button").parameters__button VIP
               .common-compare__value
                  .parameters__buttons
                     button(type="button").parameters__button.current Классик
                     button(type="button").parameters__button VIP
            li.common-compare__item 
               .common-compare__title Вес НЕТТО
               .common-compare__value 700 г
               .common-compare__value 290 г
            li.common-compare__item 
               .common-compare__title Состав
               .common-compare__value 50 конфет
               .common-compare__value 43 конфеты
            li.common-compare__item 
               .common-compare__title В наличии
               .common-compare__value 70-50 шт.
               .common-compare__value 31-50 шт.
            li.common-compare__item 
               .common-compare__title Рейтинг
               .common-compare__value 
                  .reviews-rating
                     ul.reviews-rating__list 
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                     .reviews-rating__value.
                        Отзывы (<span class="reviews-rating__count">10</span>)
               .common-compare__value
                  .reviews-rating
                     ul.reviews-rating__list 
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star.svg", alt="")
                        li 
                           img(src="img/icons/star-t.svg", alt="")
                     .reviews-rating__value.
                        Отзывы (<span class="reviews-rating__count">5</span>)
   .data-compare__box
      .data-compare__label Состав
      .data-compare__compound.compare-compound
         ul.compare-compound__list
            li.compare-compound__item 
               .compare-compound__title Шоколад
               .card-compound 
                  .compare-compound__body
                     each item, i in chocolate
                        .card-compound__item
                           .card-compound__count 1
                           .card-compound__image 
                              img(src=`img/compare/chocolate/${item.img}.png`, alt=item.title)
                           .card-compound__content 
                              .card-compound__company-name!= item.companyName
                              .card-compound__title!= item.title
            li.compare-compound__item 
               .compare-compound__title Конфеты
               .card-compound 
                  .compare-compound__body
                     each item, i in candies
                        .card-compound__item
                           .card-compound__count 1
                           .card-compound__image 
                              img(src=`img/compare/candies/${item.img}.png`, alt=item.title)
                           .card-compound__content 
                              .card-compound__company-name!= item.companyName
                              .card-compound__title!= item.title
            li.compare-compound__item 
               .compare-compound__title Мармеладные конфеты
               .card-compound 
                  .compare-compound__body
                     each item, i in marmelade
                        .card-compound__item
                           .card-compound__count 1
                           .card-compound__image 
                              img(src=`img/compare/marmelade/${item.img}.png`, alt=item.title)
                           .card-compound__content 
                              .card-compound__company-name!= item.companyName
                              .card-compound__title!= item.title
            li.compare-compound__item 
               .compare-compound__title Жевательные конфеты
               .card-compound 
                  .compare-compound__body
                     each item, i in chew
                        .card-compound__item
                           .card-compound__count 1
                           .card-compound__image 
                              img(src=`img/compare/chew/${item.img}.png`, alt=item.title)
                           .card-compound__content 
                              .card-compound__company-name!= item.companyName
                              .card-compound__title!= item.title
            li.compare-compound__item 
               .compare-compound__title Фасовка
               .card-compound 
                  .compare-compound__body
                     each item, i in packing
                        .card-compound__item
                           .card-compound__count 1
                           .card-compound__image 
                              img(src=`img/compare/packing/${item.img}.png`, alt=item.title)
                           .card-compound__content 
                              .card-compound__company-name!= item.companyName
                              .card-compound__title!= item.title
            li.compare-compound__item.compare-compound-result
               .compare-compound__title Всего конфет
               .compare-compound-result__body 
                  