-
	categoryCandies = [
		chocolate = {
			key: 'chocolate',
			title: 'Шоколад',
			children: [
				{  
					companyName: "Акконд",
					title: "Шококроко 24 г"
				},
				{
					companyName: "Эссен",
					title: "Молочная плитка CHO KO-TE «малина-манго» 43 гр"
				},
				{  
					companyName: "КДВ / Славянка / Сладко",
					title: "Батончик шоколадный <br> 42/47/50гр"
				},
			],
		},
		candies = {
			title: 'Конфеты',
			key: 'candies',
			children: [
				{  
					companyName: "Победа",
					title: "Мишки в лесу <br> вафельная"
				},
				{
					companyName: "Славянка",
					title: "Детский сувенир <br> «Фигурный шоколад»"
				},
				{  
					companyName: "Эссен",
					title: "Шокотэ бабблгам"
				},
				{  
					companyName: "Красный октябрь",
					title: "Семейка сов"
				},
				{  
					companyName: "РотФронт",
					title: "Босс кокос"
				},
				{  
					companyName: "Сладкий орешек",
					title: "Марсианка <br> в ассортименте"
				},
				{  
					companyName: "Эссен",
					title: "Шокотэ со взрывной <br> карамелью"
				},
				{  
					companyName: "Сириус",
					title: "Зоо-Зоо"
				},
				{  
					companyName: "КДВ групп",
					title: "ELLE"
				},
				{  
					companyName: "КДВ групп",
					title: "Джумка мини"
				},
				{  
					companyName: "Славянка",
					title: "Бананоман"
				},
				{  
					companyName: "КДВ групп",
					title: "Яшкинская Картошка"
				},
				{  
					companyName: "Акконд",
					title: "Снопик/Нюанс"
				},
				{  
					companyName: "КДВ групп/Акконд",
					title: "Крокант/Слимо грильяж"
				},
				{  
					companyName: "Сладкий орешек",
					title: "«NO CommenT»"
				},
				{  
					companyName: "РотФронт",
					title: "Козиначки"
				},
				{  
					companyName: "КДВ групп",
					title: "Чио-рио"
				},
				{  
					companyName: "КДВ групп",
					title: "Шантарель"
				},
				{  
					companyName: "КДВ групп",
					title: "Белая черемуха"
				},
				{  
					companyName: "КДВ групп",
					title: "Джетс с печеньем"
				},
				{  
					companyName: "КДВ групп",
					title: "Бонфетти"
				},
				{  
					companyName: "КДВ групп",
					title: "Ярче"
				},
				{  
					companyName: "КДВ групп",
					title: "Итальяна"
				},
				{  
					companyName: "КДВ групп",
					title: "Коровка <br> загорская"
				},
				{  
					companyName: "КДВ групп",
					title: "Супер мини"
				},
				{  
					companyName: "Акконд",
					title: "Летний день"
				},
				{  
					companyName: "Атаг",
					title: "Забегай на чай"
				},
				{  
					companyName: "Акконд",
					title: "Шоконатка/ Туесок"
				},
				{  
					companyName: "Славянка",
					title: "Эли"
				},
				{  
					companyName: "КДВ групп",
					title: "Батончик Евгеша/Харитоша"
				},
				{  
					companyName: "КДВ групп",
					title: "Мексикана/Версаль"
				},
			],
		},
		marmelade = {
			key: 'marmelade',
			title: "Мармеладные конфеты",
			children: [
				{  
					companyName: "Славянка",
					title: "Фрутландия мармелад"
				},
				{
					companyName: "Рот Фронт",
					title: "Очумелый шмель"
				},
				{  
					companyName: "КДВ групп/Лукоморье",
					title: "Желейные мармелад в шок."
				},
				{  
					companyName: "КДВ групп",
					title: "Золотая стрекоза"
				},
				{  
					companyName: "КДВ групп",
					title: "Несси"
				},
			],
		},
		chewy = {
			key: 'chew',
			title: "Жевательные конфеты",
			children: [
				{  
					companyName: "КДВ групп",
					title: "Workky"
				},
				{
					companyName: "КДВ групп",
					title: "Фрутстори"
				},
				{  
					companyName: "КДВ групп",
					title: "Нильс"
				},
				{  
					companyName: "КДВ групп",
					title: "Нота Бум"
				},
				{  
					companyName: "Турция",
					title: "Пластинки TUTI"
				},
				{  
					companyName: "Турция",
					title: "“MY FRUIT”"
				},
			],
		},
		packing = {
			key: 'packing',
			title: "Фасовка",
			children: [
				{  
					companyName: "КДВ групп",
					title: "Карамель на палочке 12 г "
				},
				{
					companyName: "Акконд",
					title: "Бисквит«Сливкус» / <br> «Ломтишка» 23 г"
				},
				{  
					companyName: "Балаковский ОАО",
					title: "Вафельная палочка 40 г"
				},
				{  
					companyName: "Сириус",
					title: "Пирамидка 18 г"
				},
			],
		}
	];
.compare-data.data-compare
	.data-compare__box
		.data-compare__label Общие
		.data-compare__common.common-compare
			mixin common(title)
				li.common-compare__item
					.common-compare__title= title
					.common-compare__body.compare-body
						.common-compare__values.compare-values
							block
			ul.common-compare__list
				+common("Размер(см)")
					.common-compare__value.compare-item 19*23,5*11
					.common-compare__value.compare-item 11*5,5*18
					.common-compare__value.compare-item 11*5,5*18
					.common-compare__value.compare-item 11*5,5*18
				+common("Категория")
					.common-compare__value.compare-item
						.parameters__buttons
							+compound("classic", "compound", "Классик", "checked", "active")
							+compound("premium", "compound", "Премиум")
							+compound("vip", "compound", "VIP")
					.common-compare__value.compare-item
						.parameters__buttons
							+compound("classic", "compound", "Классик", false, "active")
							+compound("premium", "compound", "Премиум")
							+compound("vip", "compound", "VIP")
					.common-compare__value.compare-item
						.parameters__buttons
							+compound("classic", "compound", "Классик", "checked", "active")
					.common-compare__value.compare-item
						.parameters__buttons
							+compound("classic", "compound", "Классик", false, "active")
				+common("Вес НЕТТО")
					.common-compare__value.compare-item
						.parameters__buttons(data-weight="classic").active
							+weight("weight", "290", "290 г", "checked")
							+weight("weight", "380", "380 г")
					.common-compare__value.compare-item
						.parameters__buttons(data-weight="premium")
							+weight("weight", "400", "400 г")
							+weight("weight", "500", "500 г")
					.common-compare__value.compare-item
						.parameters__buttons(data-weight="classic").active
							+weight("weight", "290", "290 г", "checked")
					.common-compare__value.compare-item
						.parameters__buttons(data-weight="premium")
							+weight("weight", "400", "400 г")
				+common("Состав")
					.common-compare__value.compare-item 50 конфет
					.common-compare__value.compare-item 43 конфеты
					.common-compare__value.compare-item 43 конфеты
					.common-compare__value.compare-item 43 конфеты
				+common("В наличии")
					.common-compare__value.compare-item 70-50 шт.
					.common-compare__value.compare-item 31-50 шт.
					.common-compare__value.compare-item 31-50 шт.
					.common-compare__value.compare-item 31-50 шт.
				+common("Рейтинг")
					.common-compare__value.compare-item
						.reviews-rating
							div(class="stars" style="--rating: 3.5;" aria-label="Rating of this product is 3.5 out of 5.")
							.reviews-rating__value.
								Отзывы (<span class="reviews-rating__count">10</span>)
					.common-compare__value.compare-item
						.reviews-rating
							div(class="stars" style="--rating: 3.5;" aria-label="Rating of this product is 3.5 out of 5.")
							.reviews-rating__value.
								Отзывы (<span class="reviews-rating__count">5</span>)
					.common-compare__value.compare-item
						.reviews-rating
							div(class="stars" style="--rating: 3.5;" aria-label="Rating of this product is 3.5 out of 5.")
							.reviews-rating__value.
								Отзывы (<span class="reviews-rating__count">10</span>)
					.common-compare__value.compare-item
						.reviews-rating
							div(class="stars" style="--rating: 3.5;" aria-label="Rating of this product is 3.5 out of 5.")
							.reviews-rating__value.
								Отзывы (<span class="reviews-rating__count">5</span>)
	.data-compare__box
		.data-compare__label.data-compare__label-compound Состав
		.data-compare__compound.compare-compound
			ul.compare-compound__list
				each item, index in categoryCandies
					li.compare-compound__item 
						.compare-compound__title= item.title
						.card-compound
							.compare-body
								.compare-values
									.compare-compound__body.compare-item
										each child, childIndex in item.children
											.card-compound__item
												.card-compound__count 1
												.card-compound__image 
													img(src=`img/compare/${item.key}/${childIndex+1}.png`, alt=child.title)
												.card-compound__content 
													.card-compound__company-name!= child.companyName
													.card-compound__title!= child.title
											if childIndex == 2
												.card-compound__item
													.card-compound__count 1
													.card-compound__image 
														img(src=`img/compare/${item.key}/${childIndex+1}.png`, alt=child.title)
													.card-compound__content 
														.card-compound__company-name!= child.companyName
														.card-compound__title!= child.title
									.compare-compound__body.compare-item
										each child, childIndex in item.children
											.card-compound__item
												.card-compound__count 1
												.card-compound__image 
													img(src=`img/compare/${item.key}/${childIndex+1}.png`, alt=child.title)
												.card-compound__content 
													.card-compound__company-name!= child.companyName
													.card-compound__title!= child.title
									.compare-compound__body.compare-item
										each child, childIndex in item.children
											.card-compound__item
												.card-compound__count 1
												.card-compound__image 
													img(src=`img/compare/${item.key}/${childIndex+1}.png`, alt=child.title)
												.card-compound__content 
													.card-compound__company-name!= child.companyName
													.card-compound__title!= child.title
									.compare-compound__body.compare-item
										each child, childIndex in item.children
											.card-compound__item
												.card-compound__count 1
												.card-compound__image 
													img(src=`img/compare/${item.key}/${childIndex+1}.png`, alt=child.title)
												.card-compound__content 
													.card-compound__company-name!= child.companyName
													.card-compound__title!= child.title
				li.compare-compound__item.compare-compound-result
					.compare-compound__title Всего конфет
					.compare-compound__result
						.compare-compound-result__body
							.compare-compound-result__item
								span.compare-compound__quantity 50
							.compare-compound-result__item
								span.compare-compound__quantity 48