-
	deliveries = [
		{
			"title": "Транспортная компания DPD",
			"descr": "экспресс-доставка в течение 2-4 дней",
		},
		{
			"title": "Транспортная компания «Деловые линии»",
			"descr": "доставка в течение 2-14 дней",
		},
		{
			"title": "Транспортная компания «СДЭК»",
			"descr": "доставка в течение 2-4 дней",
			"link": "Пункты выдачи"
		}
	];
section.order 
	.container 
		.order__body 
			.order-content
				.order__payment.payment-order
					h2.payment-order__title.content-title Способ оплаты
					form(action="#").payment-order__form
						mixin radiobuttons(classname, title, name, checked, id)
							.radiobutton-item(class=classname)
								label
									input(type="radio" name=name class="real-radio" id=id)
									span.custom-radio
									span.radiobutton-item__text= title
						+radiobuttons('payment-order__group', 'Наличными', 'payment', '')
						+radiobuttons('payment-order__group', 'Безналичный расчет', 'payment')
						+radiobuttons('payment-order__group', 'Постоплата (для корпоративных клиентов)', 'payment')
				.order__variant.variant-order
					h2.variant-order__title.content-title Вариант доставки
					form(action="#").variant-order__form
						+radiobuttons('variant-order__group', 'Самовывоз', 'delivery', '', 'pickup')
						+radiobuttons('variant-order__group', 'Курьером', 'delivery', '', 'courier')
						+radiobuttons('variant-order__group', 'Транспортной компанией по РФ', 'delivery', '', 'transport')
					.variant-order__company.company-order.hidden#company-order
						each item, i in deliveries
							.company-order__item
								.company-order__header 
									.radiobutton-item
										label
											input(type="radio" name="company" class="real-radio" value=item.title)
											span.custom-radio
											span.company-order__logo 
												img(src=`img/order/company-${i+1}.png`, alt="")
								.company-order__content 
									h3.company-order__title!= item.title
									.company-order__descr!= item.descr
									if item.link
										a(href="#" target="_blank").company-order__link= item.link 
					.variant-order__info.
						<span class="color-red">ВАЖНО:</span> стоимость доставки в регионы рассчитывается менеджером при согласовании 
						заказа и зависит от объема заказа и тарифов выбранной транспортной компании
			aside.order-data
				.order-data__result.cart-result
					.cart-result__body
						ul.cart-result__list
							li 
								.cart-result__name Вес заказа
								.cart-result__value 870 гр.
							li 
								.cart-result__name Товары - 3 шт.
								.cart-result__value 1925 ₽
							li 
								.cart-result__name Скидка
								.cart-result__value -195 ₽ 
						.cart-result__sum.cart-sum
							.cart-sum__label Итого
							.cart-sum__value 1730 ₽
				.order-data__body 
					.order-data__title.content-title Контактные данные
					form(action="#").order-data__form.form
						input(type="hidden" name="namecompany" value)
						.form__items
							mixin formInput(title, type, required)
								.form__item 
									label.form__label(class=required)= title
									input(type=type, required=required, data-field).form__input
							+formInput("Ваше имя", "text", "required")
							+formInput("E-mail", "email", "required")
							+formInput("Телефон", "tel", "required")
							+formInput("Адрес доставки", "text")
							.form__item 
								label.form__label Сообщение
								textarea(data-field).form__textarea
						.form__text * Поля обязательны к заполнению
						button(type="submit").form__button.btn Отправить