mixin picture(srcPc, srcTouch, medicPc, mediaTouch, srcDefault = srcPc)
	picture
		source(srcset=srcPc, media=`(min-width: ${medicPc}px)`)
		source(srcset=srcTouch, media=`(min-width: ${mediaTouch}px)`)
		img(src=srcDefault alt='')
mixin actionsLink(path, count, iconClass)
		.actions-header__link&attributes({'href': path, 'class' : iconClass})
			span.actions-header__count= count
header.header 
	.header-menu
		.header-menu__category.category-menu(data-spollers="991.98,max")
			button(type="button" data-spoller).category-menu__button.icon-arrow-next Каталог товаров
			.category-menu__navigation
	.header__body
		.header__top.top-header
			.container
				.top-header__body
					.burger-icon-wrap
						button.burger-icon(type="button")
							span
					nav.top-header__menu(data-da=".header-menu, 991.98, 1")
						ul.top-header__list
							li.top-header__list-item
								a.top-header__link(href="about.html") О компании
								span.menu__arrow.icon-arrow-next
								ul.submenu__list
									each item in [{"title": "FAQ", "link": "faq.html"}, {"title": "Отзывы", "link": "reviews.html"}, {"title": "Вакансии","link": "vacancy.html"}, {"title": "Сертификаты", "link": "certificate.html"}]
										li.submenu__item
											a.submenu__link(href=item.link)= item.title
							li.top-header__list-item
								a.top-header__link(href="delivery-and-payment.html") Доставка и оплата
							li.top-header__list-item
								a.top-header__link(href="clients.html") Корпоративным клиентам
							li.top-header__list-item
								a.top-header__link(href="contacts.html") Контакты
					.top-header__actions.actions-top-header
						a.actions-top-header__link.download(href="#") Скачать буклет
						a.actions-top-header__link.collect.btn.btn-red(href="collect.html") Соберите подарок							
		.header__main.main-header 	
			.container 
				.main-header__body
					.main-header__logo
						a(href="/").logo
							.logo__image
								+picture("img/icons/logo.png", "img/icons/logo_touch.png", 650, 320, "img/icons/logo.png")
							div.logo__text
								+picture("img/icons/logo.svg", "img/icons/textlogo_touch.svg", 650, 320, "img/icons/logo.svg")
					.main-header__phones 
						a.main-header__phone(href="tel:88312239969") 8 (831) 223-99-69
						a.main-header__phone(href="tel:88312239969") +7 (903) 604-92-10
					.main-header__social.social-header
						button.social-header__button(type="button" class="modal-btn" data-modal-button="modal-call") 
							span Заказать звонок
						ul.social-header__list
							li 
								a(href="/", target="_blank").social-header__link
									+picture("img/icons/whatsapp.svg", "img/icons/whatsapp_touch.svg", 991.98, 320, "img/icons/whatsapp.svg")
							li 
								a(href="/", target="_blank").social-header__link
									+picture("img/icons/viber.svg", "img/icons/viber_touch.svg", 991.98, 320, "img/icons/viber.svg")
							li 
								a(href="/", target="_blank").social-header__link
									+picture("img/icons/vk.svg", "img/icons/vk_touch.svg", 991.98, 320, "img/icons/vk.svg")
					.main-header__search.search-header
						button(type="button").search-header__button
						form(action="/").search-header__form
							input.search-header__input(type="search", autocomplete="off", placeholder="Поиск по сайту")
							.search-header__actions
								button(type="button").search-header__icon
								input(type="submit" value="Поиск")
					.main-header__actions.actions-header
						button.actions-header__search(type="button")
							<svg width="35" height="33" viewBox="0 0 35 33" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="15.0387" cy="15.0966" r="13.2403" stroke="#282828" stroke-width="2"/>
								<line x1="23.8007" y1="23.8093" x2="33.9724" y2="31.9466" stroke="#282828" stroke-width="2"/>
							</svg>
						+actionsLink("favorites.html", 1, "icon-favorites")
						+actionsLink("/", 1, "icon-prepare")
						+actionsLink("cart.html", 1, "icon-cart")
		.header__catalog
			.container
				include ./menu



