.collect__table.collect-table
	.collect-table__header.collect-table__thead
		.collect-table__th Наименование
		.collect-table__th Вместимость
		.collect-table__th Цена 1 шт.
	.collect-table__sub-header.sub-header-table
		.collect-table__tr 
			.collect-table__td.no-pacakge
				.collect-table__title Без упаковки
				.collect-table__value
				.collect-table__radiobutton.radiobutton-item
					label
						span.radiobutton-item__text 0 ₽
						input(type="radio" name="package" checked class="real-radio")
						span.custom-radio
	.collect-table__body.collect-table__tbody
		.accordeon
			each item, i in collectCategory
				.accordeon__item.item-accordeon
					.item-accordeon__header.icon-arrow-next= item.title
					.item-accordeon__content
						.collect-table__row.collect-table__tr
							each childrenItem, index in item.children
								.collect-table__td
									.collect-table__name
										.collect-table__images
											.collect-table__image 
												img(src=`img/collect/sweet-gifts/${i}/${index+1}.png`, alt=childrenItem.title)
												.collect-table__tooltip 
													img(src=`img/collect/sweet-gifts/${i}/${index+1}.png`, alt=childrenItem.title)
										h2.collect-table__title!= childrenItem.title
									.collect-table__value= childrenItem.value
									.collect-table__radiobutton.radiobutton-item
										label
											span.radiobutton-item__text= childrenItem.price
											input(type="radio" name="package" class="real-radio")
											span.custom-radio