each productItem, index in product
   .products__card.card-product
      != productItem.delete ? productItem.delete : ""
      .card-product__box
         .card-product__favorite.icon-favorites
         .card-product__badge
            span= productItem.badge
         .card-product__header 
            a(href="#").card-product__image.ibg
               img(src=`img/products/${productItem.img}.png`, alt=productItem.name)
            .card-product__article= productItem.article
            a(href="#").card-product__title= productItem.name 
         .card-product__body 
            .card-product__inner 
               .reviews-rating
                  ul.card-product__rating.reviews-rating__list
                     li 
                        img(src="img/icons/star.svg", alt="")
                     li 
                        img(src="img/icons/star.svg", alt="")
                     li 
                        img(src="img/icons/star.svg", alt="")
                     li 
                        img(src="img/icons/star.svg", alt="")
                     li 
                        img(src="img/icons/star-t.svg", alt="")
               .card-product__compare.icon-prepare(class=productItem.selectedClass)
            .choice-groups
            if typeof productItem.choice == typeof []
               each item, index in productItem.choice
                  .card-product__choice.choice-group
                     label.choice-group__label
                        input(type="radio" name=`${item.radio}` checked=item.checked?item.checked:false class="choice-group__input real-radio")
                        span.custom-radio
                        span.choice-group__text= item.title
                     .choice-group__value= item.value
                     .choice-group__arrow
         .card-product__footer 
            .card-product__prices 
               .card-product__price= productItem.price
            a(href="#").card-product__button.btn Купить
