mixin compound(data, name, title, checked, classes)
	.parameters-radiobutton(data-compound=data class=classes)
		label
			input(type="radio" name=name value=data checked=checked class="real-radio")
			span.parameters__button= title
mixin weight(name, value, title, checked)
	.parameters-radiobutton(data-current-weight=value)
		label
			input(type="radio" name=name value=value checked=checked class="real-radio")
			span.parameters__button= title