.collect__table.collect-table
	.collect-table__header.collect-table__thead
		.collect-table__th Наименование
		.collect-table__th Вес 1 шт.
		.collect-table__th Количество
	.collect-table__body.collect-table__tbody
		.accordeon
			.accordeon__item.item-accordeon
				.item-accordeon__header.icon-arrow-next.active Шоколад
				.item-accordeon__content.open
					.collect-table__row.collect-table__tr
						each item in collectChocolate
							.collect-table__td
								.collect-table__name
									.collect-table__images
										.collect-table__image 
											img(src=`img/collect/${item.img}.png`, alt=item.title)
										if item.tooltip
											.collect-table__tooltip 
												img(src=`img/collect/${item.tooltip}.png`, alt=item.title)
									h2.collect-table__title!= item.title
								.collect-table__value= item.value
								.collect-table__quantity.quantity-card
									button.quantity-card__button.quantity-card__button--minus.quantity-card__button--disabled(data-minus)
									input(type="text" value="1").quantity-card__input
									button.quantity-card__button.quantity-card__button--plus(data-plus)
			.accordeon__item.item-accordeon
				.item-accordeon__header.icon-arrow-next.active Конфеты
				.item-accordeon__content.open
					.collect-table__row.collect-table__tr
						each item in collectCandies
							.collect-table__td
								.collect-table__name
									.collect-table__images
										.collect-table__image 
											img(src=`img/collect/${item.img}.png`, alt=item.title)
										if item.tooltip
											.collect-table__tooltip 
												img(src=`img/collect/${item.tooltip}.png`, alt=item.title)
									h2.collect-table__title!= item.title
								.collect-table__value= item.value
								.collect-table__quantity.quantity-card
									button.quantity-card__button.quantity-card__button--minus.quantity-card__button--disabled(data-minus)
									input(type="text" value="1").quantity-card__input
									button.quantity-card__button.quantity-card__button--plus(data-plus)