-
	arrayTabs = [
		{
			title: "Товары",
			key: "goods",
			arrayHeaders: ["Наименование", "Вес 1 шт.", "Количество"],
			objectCategories: {
				chocolate: {
					title: "Шоколад",
					children: [
						{
							"title": "Молочная плитка CHO KO-TE «малина-манго» Эссен",
							"value": "43 г"
						},
						{
							"title": 'Шоколадный батончик "QVINTO" Эссен',
							"value": "29 г"
						},
						{
							"title": "“Шоколашки” Эссен",
							"value": "7 г"
						},
						{
							"title": 'Шоколадный батончик "Мишки в лесу" Победа',
							"value": "30 г"
						},
						{
							"title": 'Шоколадный батончик КДВ/Сладко',
							"value": "42 г"
						},
						{
							"title": 'Шоколад Яшкино/Альпийская сказка Славянка',
							"value": "90 г"
						},
					]
				},
				candies: {
					title: "Конфеты",
					children: [
						{
							"title": 'Конфеты “Беларусские” Коммунарка',
							"value": "16 г"
						},
						{
							"title": 'Конфеты “Березка” Коммунарка',
							"value": "29 г"
						},
						{
							"title": 'Конфеты “Беловежская пуща” вкус <br> в ассортименте. Коммунарка',
							"value": "50 г"
						},
						{
							"title": 'Конфеты “Коммунарка” Коммунарка',
							"value": "16 г"
						},
						{
							"title": 'Конфеты “Трюфель” Коммунарка',
							"value": "15 г"
						},
						{
							"title": 'Конфеты “Соната” вафельная Победа',
							"value": "13,5 г"
						},
						{
							"title": 'Конфеты ”Мишки в лесу” вафельная Победа',
							"value": "14 г"
						},
						{
							"title": 'Конфеты “Мишки в лесу” пралине Победа',
							"value": "17,4 г"
						},
						{
							"title": 'Конфеты “Соната” пралине Победа',
							"value": "17,7 г"     
						}
					]
				}
			}
		},
		{
			title: "Упаковка",
			key: "package",
			arrayHeaders: ["Наименование", "Вместимость", "Цена 1 шт."],
			objectCategories: {
				paperboard: {
					title: "Картон",
					children: [
						{
							"title": 'Снежинка золотая',
							"value": "200-300 г",
							"price": "24,50 ₽"
						},
						{
							"title": 'Сладкий конвертик',
							"value": "200-300 г",
							"price": "24,50 ₽"
						},
						{
							"title": 'Кристалл',
							"value": "200-350 г",
							"price": "26,50 ₽"
						},
						{
							"title": 'Мишка бурый',
							"value": "350-550 г",
							"price": "22,80 ₽ "
						},
						{
							"title": 'Почта деда мороза',
							"value": "400-550 г",
							"price": "24,50 ₽"
						},
					]
				},
				tin: {
					title: "Жестяные",
					children: [
						{
							"title": 'Зимние забавы',
							"value": "350-450 г",
							"price": "217 ₽"
						},
						{
							"title": 'Почта-копилка',
							"value": "500-600 г",
							"price": "367,50 ₽"
						},
						{
							"title": 'Короб почтальона Ассорти',
							"value": "500-600 г",
							"price": "367,50 ₽"
						},
					]
				},
				tuba: {
					title: "Туба",
					children: [
						{
							"title": 'Оленята большая',
							"value": "700-800 г",
							"price": "193 ₽"
						},
						{
							"title": 'Прогулка',
							"value": "750-800 г",
							"price": "175 ₽"
						},
					]
				},
				bags: {
					title: "Мешки",
					children: [
						{
							"title": 'Мешок "В шоколаде"',
							"value": "700-800 г",
							"price": "193 ₽"
						},
						{
							"title": 'Мешок "Почта с севера"',
							"value": "700-800 г",
							"price": "193 ₽"
						},
						{
							"title": 'Мешок "Почта с севера"',
							"value": "700-800 г",
							"price": "193 ₽"
						},
					]
				},
				textile: { 
					title: "Текстиль",
					children: [
						{
							"title": 'Мешок "В шоколаде"',
							"value": "700-800 г",
							"price": "193 ₽"
						},
					]
				}
			}
		}
	];
section.collect-tabs
	.tabs__body
		ul.tabs__list
			each tabItem, tabIndex in arrayTabs
				li.tabs__item
					a.tabs__link(href=`#${tabItem.key}` class=(tabIndex==0 ? "active" : "") )= tabItem.title
		each tabItem, tabIndex in arrayTabs
			div.tabs__content.tabs-content(id=tabItem.key class=(tabIndex==0 ? "show" : ""))
				.collect__table.collect-table
					.collect-table__header.collect-table__thead
						each itemHeader in tabItem.arrayHeaders
							.collect-table__th=itemHeader
					if tabItem.key == "package"
						.collect-table__sub-header.sub-header-table
							.collect-table__tr 
								.collect-table__td.no-pacakge
									.collect-table__title Без упаковки
									.collect-table__value
									.collect-table__radiobutton.radiobutton-item
										label
											span.radiobutton-item__text 0 ₽
											input(type="radio" name="package" checked class="real-radio")
											span.custom-radio
					.collect-table__body.collect-table__tbody
						.accordeon
							each itemCategories, CategorieIndex in tabItem.objectCategories
								.accordeon__item.item-accordeon
										.item-accordeon__header.icon-arrow-next= itemCategories.title
										.item-accordeon__content
											each child, childIndex in itemCategories.children
												.collect-table__row.collect-table__tr
													.collect-table__td
														.collect-table__name
															.collect-table__images
																.collect-table__image 
																	img(src=`img/collect/sweet-gifts/${CategorieIndex}/${childIndex+1}.png`, alt=child.title)
																	.collect-table__tooltip
																		img(src=`img/collect/sweet-gifts/${CategorieIndex}/${childIndex+1}.png`, alt=child.title)
															h2.collect-table__title!= child.title
														.collect-table__value= child.value
														case tabItem.key
															when "goods"
																.collect-table__quantity.quantity-card
																	button.quantity-card__button.quantity-card__button--minus.quantity-card__button--disabled(data-minus)
																	input(type="text" value="1").quantity-card__input
																	button.quantity-card__button.quantity-card__button--plus(data-plus)
															when "package"
																.collect-table__radiobutton.radiobutton-item
																	label
																		span.radiobutton-item__text= child.price
																		input(type="radio" name="package" class="real-radio")
																		span.custom-radio
