.collect__table.collect-table
	.collect-table__header.collect-table__thead
		.collect-table__th Наименование
		.collect-table__th Вес 1 шт.
		.collect-table__th Количество
	.collect-table__body.collect-table__tbody
		.accordeon
			each item, i in collectCategory
				.accordeon__item.item-accordeon
					.item-accordeon__header.icon-arrow-next= item.title
					.item-accordeon__content
						each childrenItem, index in item.children
							.collect-table__row.collect-table__tr
									.collect-table__td
										.collect-table__name
											.collect-table__images
												.collect-table__image 
													img(src=`img/collect/sweet-gifts/${i}/${index+1}.png`, alt=childrenItem.title)
													.collect-table__tooltip
														img(src=`img/collect/sweet-gifts/${i}/${index+1}.png`, alt=childrenItem.title)
											h2.collect-table__title!= childrenItem.title
										.collect-table__value= childrenItem.value
										.collect-table__quantity.quantity-card
											button.quantity-card__button.quantity-card__button--minus.quantity-card__button--disabled(data-minus)
											input(type="text" value="1").quantity-card__input
											button.quantity-card__button.quantity-card__button--plus(data-plus)
