-
	categoryCandies = {
		chocolate: {
			title: 'Шоколад',
			children: [
				{
					companyName: "Акконд",
					title: "Шококроко 24 г"
				},
			],
		},
		candies: {
			title: 'конфеты',
			children: [
				{
					companyName: "Победа",
					title: "Мишки в лесу вафельная"
				},
				{
					companyName: "Славянка",
					title: "Детский сувенир «Фигурный шоколад»"
				},
				{
					companyName: "Эссен",
					title: "Шокотэ бабблгам"
				},
				{
					companyName: "Эссен",
					title: "Шокотэ со взрывной карамелью"
				},
				{
					companyName: "КДВ групп",
					title: "ELLE"
				},
				{
					companyName: "КДВ групп",
					title: "Джумка мини"
				},
				{
					companyName: "Красный октябрь",
					title: "Семейка сов"
				},
				{
					companyName: "РотФронт",
					title: "Босс кокос"
				},
				{
					companyName: "Сладкий орешек",
					title: "Марсианка в&nbsp;ассортименте"
				},
				{
					companyName: "Сириус",
					title: "Зоо-Зоо"
				},
				{
					companyName: "Славянка",
					title: "Бананоман"
				},
				{
					companyName: "КДВ групп",
					title: "Яшкинская <br> Картошка"
				},
				{
					companyName: "Акконд",
					title: "Снопик/Нюанс"
				},
				{
					companyName: "КДВ групп/Акконд",
					title: "Крокант/Слимо грильяж"
				},
				{
					companyName: "Сладкий орешек",
					title: "«NO CommenT»"
				},
				{
					companyName: "РотФронт",
					title: "Козиначки"
				},
				{
					companyName: "КДВ групп",
					title: "Чио-рио"
				},
				{
					companyName: "КДВ групп",
					title: "Шантарель"
				},
				{
					companyName: "КДВ групп",
					title: "Белая черемуха"
				},
				{
					companyName: "КДВ групп",
					title: "Джетс с печеньем"
				},
				{
					companyName: "КДВ групп",
					title: "Бонфетти"
				},
				{
					companyName: "КДВ групп",
					title: "Ярче"
				},
				{
					companyName: "КДВ групп",
					title: "Итальяна"
				},
				{
					companyName: "КДВ групп",
					title: 'Коровка <br> загорская',
				},
				{
					companyName: "КДВ групп",
					title: "Супер мини"
				},
				{
					companyName: "Акконд",
					title: "Летний день"
				},
			],
		},
		marmelade: {
			title: "Мармеладные  конфеты",
			children: [
				{
					companyName: "Славянка",
					title: "Фрутландия <br> мармелад"
				},
				{
					companyName: "Рот Фронт",
					title: "Очумелый шмель"
				},
				{
					companyName: "КДВ групп/Лукоморье",
					title: "Желейные мармелад в шок."
				},
				{
					companyName: "КДВ групп",
					title: "Золотая стрекоза"
				},
				{
					companyName: "КДВ групп",
					title: "Несси"
				},
			]
		},
		chew: {
			title: "Жевательные конфеты",
			children: [
				{
					companyName: "КДВ групп",
					title: "Workky"
				},
				{
					companyName: "КДВ групп",
					title: "Фрутстори"
				},
				{
					companyName: "КДВ групп",
					title: "Нильс"
				},
				{
					companyName: "КДВ групп",
					title: "Нота Бум"
				},
				{
					companyName: "Турция",
					title: "Пластинки TUTI"
				},
				{
					companyName: "Турция",
					title: `“MY FRUIT”`
				},
			]
		},
		packing: {
			title: "Фасовка",
			children: [
				{
					companyName: "КДВ групп",
					title: "Карамель на палочке <br> 12 г"
				},
				{
					companyName: "Акконд",
					title: "Бисквит«Сливкус» / <br> «Ломтишка» 23 г"
				},
				{
					companyName: "Балаковский ОАО",
					title: "Вафельная палочка 40 г"
				},
				{
					companyName: "Сириус",
					title: "Пирамидка 18 г"
				},
			]
		}
	},
	reviews = [
		{
			icon: "И",
			name: "Ирина",
			date: "25.07.2021",
			text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
		},
		{
			icon: "П",
			name: "Павел",
			date: "29.06.2021",
			text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
		},
		{
			icon: "Е",
			name: "Елена",
			date: "15.03.2021",
			text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
		},
		{
			icon: "Е",
			name: "Елена",
			date: "15.03.2021",
			text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
		},
		{
			icon: "Е",
			name: "Елена",
			date: "15.03.2021",
			text: "Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена! Прекрасное соотношения цена, качество, товаром очень доволена!"
		},
	]
section.tabs 
	.tabs__body
		.tabs__top.top-tabs
			.top-tabs__container
				ul.tabs__list 
					li.tabs__item
						a.tabs__link.active(href="#compound" data-tab="1") Состав
					li.tabs__item
						a.tabs__link(href="#description" data-tab="2") Описание
					li.tabs__item
						a.tabs__link(href="#reviews" data-tab="3") Отзывы
		.tabs__content-wrapper.container
			div.tabs__content.tabs__content--compound.tabs-content.show(data-tab-content="1" id="compound")
				.card-compound
					each item, i in categoryCandies
						.card-compound__box
							h2.card-compound__label= item.title
							.card-compound__body
								each childrenItem, index in item.children
									.card-compound__item.item-compound
										.card-compound__count 1
										.card-compound__image
											img(src=`img/compound/${i}/${i}-${index+1}.png`, alt=childrenItem.title)
										.item-compound__content
											.card-compound__company-name= childrenItem.companyName
											.card-compound__title!= childrenItem.title
					.card-compound__box
						h2.card-compound__label.label-compound-result
							span Всего
							span.label-compound-result__quantity 43 шт.
			div.tabs__content.tabs__content--description.tabs-content(data-tab-content="2" id="description")
				.card-description
					.card-description__body 
						.card-description__image
							img(src="img/card/descr-img.png", alt="")
						.card-description__content
							p Самый универсальный состав из линейки и наиболее интересный в соотношении цена/качество. И дети и взрослые обрадуются шоколадке Alpen Gold, которая является лидером в сегменте плиточного шоколада по итогам 2019 года, а также оценят все 55 уникальных конфет, каждая из которых имеет от 4 до 5 баллов рейтинга на сайтах отзывов otzovik.com и irecommend.ru. Максимально шоколадный и разнообразный состав из конфет и шоколадных дессертов от фабрик Акконд, Mondelēz, РотФронт, Nestle, Славянка, только 5% неглазированных желейных конфет на основе натуральных соков и пектина и полное отсутствие карамели. 
			div.tabs__content.tabs__content--reviews.tabs-content(data-tab-content="3" id="reviews")
				.card-reviews.reviews__body 
					a.reviews__button.btn.btn-green(data-modal-button="reviews") Написать отзыв
					.reviews-items
						each item in reviews
							.reviews-item
								.reviews-item__data.data-reviews
									.data-reviews__icon= item.icon
									.data-reviews__name= item.name
									.data-reviews__date= item.date 
								.reviews-item__content
									.reviews-rating
										ul.reviews-item__rating.reviews-rating__list.r-4
											li.reviews-rating__item
											li.reviews-rating__item
											li.reviews-rating__item
											li.reviews-rating__item
											li.reviews-rating__item
									.reviews-item__text 
										p= item.text
					a(href="#").reviews__button.reviews__show-more.btn.btn-green Показать ещё 
