- let siteLink = "нашподарок.рф"
.text-page__body
   .container 
      ul
         li Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую Сайт <a href=#{siteLink})>#{siteLink}</a> может получить о пользователе во время использования им сайта, а также при регистрации на Сайте.
         li Использование Сайта <a href=#{siteLink})>#{siteLink}</a> означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации. В случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов.
      p Персональная информация пользователей, которую получает и обрабатывает Сайт <a href=#{siteLink})>#{siteLink}</a>.
      ul
         li 1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
         li 1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при заполнении форм обратной связи, включая персональные данные пользователя.
         li Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
         li 1.1.2 Данные, которые автоматически передаются в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.
         li.
            1.2. Настоящая Политика применима только к Сайту нашподарок.рф. 
            Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах <a href=#{siteLink})>#{siteLink}</a>, в том числе в результатах поиска. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
         li.
            1.3. Сайт <a href=#{siteLink})>#{siteLink}</a> в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, 
            и не осуществляет контроль над их дееспособностью. Однако Администрация Сайта <a href=#{siteLink})>#{siteLink}</a> исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии. 
      p Цели сбора и обработки персональной информации пользователей:
      ul
         li.
            2.1. Сайт <a href=#{siteLink})>#{siteLink}</a> собирает и хранит только те персональные данные, 
            которые необходимы для предоставления и оказания услуг (исполнения соглашений и договоров с пользователем).
         li 2.2. Персональную информацию пользователя Сайт <a href=#{siteLink})>#{siteLink}</a> может использовать в следующих целях:
         li 2.2.1. Идентификация пользователя, зарегистрированного на Сайте <a href=#{siteLink})>#{siteLink}</a> для оказания услуг в рамках заключенных Договоров;
         li 2.2.2. Предоставление пользователю персонализированных услуг;
         li 2.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
         li 2.2.4. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
         li.
            2.2.5. Предоставление пользователю эффективной клиентской и технической поддержки 
            при возникновении проблем связанных с использованием Сайта <a href=#{siteLink})>#{siteLink}</a>;
         li 2.2.6. Улучшение качества, удобства использования, разработка услуг Сайта <a href=#{siteLink})>#{siteLink}</a>;
         li 2.2.7. Таргетирование рекламных материалов;
         li 2.2.8. Проведение статистических и иных исследований на основе обезличенных данных.
      p Условия обработки персональной информации пользователя и её передачи третьим лицам:
      ul 
         li 3.1. Сайт <a href=#{siteLink})>#{siteLink}</a> хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
         li 3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.
         li При использовании отдельных Сервисов пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
         li 3.3. Администрация сайта <a href=#{siteLink})>#{siteLink}</a> вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
         li 3.3.1. Пользователь выразил свое согласие на такие действия;
         li 3.3.2. Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю;
         li 3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
         li 3.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
         li 3.4. При обработке персональных данных пользователей Администрация сайта <a href=#{siteLink})>#{siteLink}</a> руководствуется Федеральным законом РФ № 152-ФЗ «О персональных данных» от 27.07.2006. 
      p Изменение пользователем персональной информации
      ul 
         li 4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности.
      p.
         Администрация сайта <a href=#{siteLink})>#{siteLink}</a> принимает необходимые организационные и технические меры для защиты персональной информации 
         Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
      ul 
         li 5.1. В случае утраты или разглашения Конфиденциальной информации Администрация сайта нашподарок.рф не несёт ответственность, если данная конфиденциальная информация:
         li 5.1.1. Стала публичным достоянием до её утраты или разглашения.
         li 5.1.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
         li 5.1.3. Была разглашена с согласия Пользователя.
         li 5.2. Администрация Сайта нашподарок.рф обязуется осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
      p Изменение Политики конфиденциальности.
      ul 
         li 6.1. Администрация сайта <a href=#{siteLink})>#{siteLink}</a> вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
         li 6.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте <a href=#{siteLink})>#{siteLink}</a>, если иное не предусмотрено новой редакцией Политики конфиденциальности.
         li 6.3. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта <a href=#{siteLink})>#{siteLink}</a> применяется действующее законодательство Российской Федерации.

