each productItem, productIndex in product
	.products__card.card-product(class=category)
		input(type="hidden" class="input-card-price" value="100")
		input(type="hidden" class="input-card-sale-price" value="200")
		input(type="hidden" class="input-card-weight")
		input(type="hidden" class="input-card-discount")
		input(type="hidden" class="input-card-compound")
		input(type="hidden" class="input-card-compound-get")
		input(type="hidden" name='shk-name' value=productItem.name)
		!=productItem.delete ? productItem.delete : ""
		form(action="#").card-product__box
			.card-product__favorite.icon-favorites(class=productItem.favoriteSelected)
			!=productItem.badge ? productItem.badge : ""
			!=productItem.sale ? productItem.sale : ""
			.card-product__header
				if productItem.sold
						.card-product__sold.sold-product
				.card-product__image-wrap
					a(href="card.html").card-product__image.ibg(class=productItem.sold)
						img(src=`img/${productItem.img}.png`, alt=productItem.name)
					.card-product__games.games-product
						.games-product__item.games-product__item_1
						.games-product__item.games-product__item_2
						.games-product__item.games-product__item_3
						.games-product__item.games-product__item_4
				.card-product__article= productItem.article
				a(href="card.html").card-product__title= productItem.name
			.card-product__body 
				.card-product__inner 
					.reviews-rating
						ul.card-product__rating.reviews-rating__list.r-4
							- for (var x = 0; x < 5; x++)
								li.reviews-rating__item
					.card-product__compare.icon-prepare(class=productItem.selectedClass)
				if !category
					.select.select-wrapper
						if productItem.choice
							each choiceItem, choiceIndex in productItem.choice
								.select-group(data-select)
									.select-group__item.select-group__header(data-current-price-header="300" data-sale-price-header="400")
										label.select-group__label
											input(type="radio" name=`radio-${productIndex}` checked=choiceIndex==0 class="select-group__input real-radio")
											span.custom-radio
											span.select-group__label-text(data-text="classic")= choiceItem.title
										.select-group__choice(class=choiceItem.dropmenu ? "" : "no-choice")
											if choiceItem.values
												span.select-group__value(data-select-value=choiceItem.values[0])= choiceItem.values[0]
											if choiceItem.dropmenu
												span.select-group__arrow
										input(type="text" class="select-group__input-hidden")
									if choiceItem.dropmenu
										.select-group__dropdown.dropdown-list
											each dropItem, dropIndex in choiceItem.dropmenu
												.select-group__item(data-sale-price="500" data-price=`600${dropIndex+1}` class=dropIndex==0 ? "current" : "")
													input(type="radio" name=`radio-${productIndex}` class="select-group__input real-radio")
													span.custom-radio
													span.select-group__text(data-text="classic")= dropItem.title
													span.select-group__value(data-select-dropdown-value=dropItem.value)= dropItem.value
			.card-product__footer
				.card-product__prices 
					.card-product__price= productItem.price
					if productItem.priceOld
						.card-product__price-old= productItem.priceOld
				button(type="button").card-product__button.btn Купить

