-
	cardSliderThumbs = [
		{
			img: "thumb-1",
		},
		{
			img: "thumb-2",
		},
		{
			img: "thumb-3",
		},
		{
			img: "thumb-1",
		},
	],
	cardSliderBase = [
		{
			img: "big-img",
		},
		{
			img: "big-img",
		},
		{
			img: "big-img",
		},
		{
			img: "big-img",
		},
	]


section.main-card 
	.container
		.main-card__wrapper 
			.main-card-slider
				.main-card-slider__thumbs.thumbs-slider._swiper
					.thumbs-slider__wrapper._swiper-wrapper
						each item in cardSliderThumbs
							.thumbs-slider__item._swiper-slide
								.thumbs-slider__image
									img(src=`img/card/${item.img}.png`, alt="")
				.main-card-slider__base.base-slider._swiper
					.main-card__sold.sold-product
					//- .main-card__badge.badge-product.badge-product__hit
					.main-card__badge.badge-product.badge-product__new
					div(class="main-card__sale sale-product sale-product__pink") -20%
					div(class="main-card__sale sale-product sale-product__green") -10%
					.main-card__games.games-product
						.games-product__item.games-product__item_1
						.games-product__item.games-product__item_2
						.games-product__item.games-product__item_3
						.games-product__item.games-product__item_4
					.base-slider__wrapper._swiper-wrapper
						each item in cardSliderBase
							.base-slider__item._swiper-slide 
								a.base-slider__image(data-fslightbox="product" href=`img/card/${item.img}-1.png`)
									img(src=`img/card/${item.img}-1.png`, alt="")
					.base-slider__controls 
						button.slide-arrow.slide-arrow__prev.icon-arrow-prev
						button.slide-arrow.slide-arrow__next.icon-arrow-next
			.main-card__info-wrapper 
				.main-card__info
					h1.main-card__title.general-title Почта-копилка
					.main-card__reviews.reviews-rating
						div(class="stars" style="--rating: 3.5;" aria-label="Rating of this product is 3.5 out of 5.")
						//- ul.reviews-rating__list.r-4
						//- 	li.reviews-rating__item
						//- 	li.reviews-rating__item
						//- 	li.reviews-rating__item
						//- 	li.reviews-rating__item
						//- 	li.reviews-rating__item
						.reviews-rating__value
							a(href="#reviews") Отзывы (<span class="reviews-rating__count">5</span>)
					.main-card__parameters.parameters
						.parameters-group 
							p.parameters__label Размер (см): 
							.parameters__value 11*5,5*18
						form.parameters-group__form
							.parameters-group
								p.parameters__label Выберите состав:
								.parameters__value
									.parameters__buttons
										mixin compound(data, name, title, checked, classes)
											.parameters-radiobutton(data-compound=data class=classes)
												label
													input(type="radio" name=name value=data checked=checked class="real-radio")
													span.parameters__button= title
										+compound("classic", "compound", "Классик", "checked", "active")
										+compound("premium", "compound", "Премиум")
										+compound("vip", "compound", "VIP")
							.parameters-group.parameters-group--weight
								p.parameters__label Выберите вес:
								.parameters__value
									.parameters__buttons(id="classic" data-weight="classic").active
										mixin weight(name, value, title, checked)
											.parameters-radiobutton
												label
													input(type="radio" name=name value=value checked=checked class="real-radio")
													span.parameters__button= title
										+weight("weight", "290", "290 г", "checked")
										+weight("weight", "380", "380 г")
									.parameters__buttons(id="premium" data-weight="premium")
										+weight("weight", "400", "400 г")
										+weight("weight", "500", "500 г")
									.parameters__buttons(id="vip" data-weight="vip")
										+weight("weight", "600", "600 г")
										+weight("weight", "700", "700 г")
									.parameters__warning Вес подарка указан без упаковки и дополнительных вложений
						.parameters-group 
							p.parameters__label Состав: 
							.parameters__value 97 конфет
							a(href="#compound").parameters__watch Посмотреть состав
						.parameters-group 
							p.parameters__label В наличии: 
							.parameters__value 31-50 шт.
					.main-card__quantity.quantity-card
						.quantity-card__box
							button.quantity-card__button.quantity-card__button--minus.quantity-card__button--disabled(data-minus type="button")
							input(type="text" value="1").quantity-card__input
							button.quantity-card__button.quantity-card__button--plus(data-plus type="button")
						.quantity-card__prices 
							.quantity-card__price 300 ₽
							.quantity-card__price-old 500 ₽
					.main-card__actions.actions__buttons
						|
						|
						button(type="button").actions__button.btn.cart-button В корзину
						a(href="cart.html" class="actions__button btn cart-link hidden" id="cart-link") Перейти в корзину
						|
						|
						button(type="button" data-modal-button="buy").actions__button.btn.btn__zero Купить в 1 клик
					.main-card__bottom
						|
						|
						button(type="button").main-card__favorite.icon-favorites В избранное
						|
						|
						button(type="button").main-card__compare.icon-prepare В сравнение