-
   advantages = [
      {
         title: "Фиксированные цены",
         text: "При 100%-ной оплате заказа стоимость гарантированно фиксируется",
         otherClass: "item-advantages--price"
      },
      {
         title: "Индивидуальный подбор",
         text: "Мы подберем сладкие подарки для вашего коллектива",
         otherClass: "item-advantages--individual"
      },
      {
         title: "Качественный продукт",
         text: "Сотрудничаем с лучшими кондитерскими&nbsp;фабриками и гарантируем отличное качество",
         otherClass: "item-advantages--quality"
      },
   ]
section.advantages
   .container
      .header-block.header-block__advantages
         h2.header-block__title
            span.header-block__text Подготовка <span class="red">к праздникам</span> станет <span class="green">проще и приятней!</span>
      .advantages__body
         each item, index in advantages
            .advantages__item.item-advantages(class=otherClass)
               .item-advantages__icon
                  img(src=`img/advantages/${index+1}.svg`, alt=item.title)
               .item-advantages__content
                  .item-advantages__title!= item.title
                  .item-advantages__text
                     p!= item.text
